<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/create_hotel.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    
    
    
    <script src="https://kit.fontawesome.com/599456d19b.js" crossorigin="anonymous"></script>
    
    
    <title>HOTEL</title>
</head>
<body>
    <div id="app"> 
        <!-- {{ info }} -->
        
        <!-- <input
            
            @keyup.enter="addUser"
            > -->
            <div class="container">
                <div class="card shadow m-5" id="form">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class=" col-lg"> 
                                
                                <h1 class="text-center mt-5 text-shadow">Create New Hotel</h1>
                                <hr style="width: 50%; border: 1px solid black;" class="mt-0 mb-5">
                                
                                <div class="row" id="form-1">
                                    
                                    
                                    <div class="col">
                                        <input type="input" placeholder="Hotel Name" class="form-control ml-auto mr-auto mb-3" v-model="hotelName">                            
                                        <input type="input" class="form-control" placeholder="Description" v-model="additionalDetail">
                                        
                                    </div>
                                    
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="col-6">
                                        <input type="input" class="form-control" placeholder="Country" v-model="country">
                                        <input type="input" class="form-control" placeholder="Province State" v-model="provinceState">
                                        
                                    </div>
                                    <div class="col-6">
                                        <input type="input" class="form-control" placeholder="District" v-model="district">
                                        <input type="input" class="form-control" placeholder="Street" v-model="street">
                                        
                                    </div>
                                </div>
                                <div class="text-center mt-4 mb-4">
                                    
                                    <button @click="addHotel()" class="btn btn-warning shadow"  style="width: 70%; border-radius: 30px;">Create</button>
                                </div>
                                
                                <hr style="width: 70%;">
                                <div class="col-lg text-right" style="left: -4rem; position: relative;">
                                    <small class="mr-auto"><a href="register.html" class=""> create an Account!</a></small>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div> 
            
        </div>
    </div>
    
    <script>
        
        
        
        Vue.component('button-counter', {
            data: function () {
                return {
                    count: 0
                }
            },
            template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
        })
        
        new Vue({
            el: '#app',
            data () {
                return {
                    info: [], // json hotel ที่ get มา
                    loading: true,
                    errored: false,
                    message : 'hello',
                    searchText: "", // ข้อความในกล่องค้นหา
                    val: "",
                    hotelName: "", 
                    additionalDetail: "",
                    country: "",
                    provinceState: "",
                    district: "",
                    street: "",
                    tel: "",
                    telphone: "",
                    user: "",
                    u_id: [],
                    email: [],
                }
            },
            
            
            mounted () {
                
                axios.get('https://user-259905.appspot.com/user/me',
                {
                    headers: {
                        Authorization: localStorage.token
                    }
                })
                .then((response) => {
                    const data = response.data; // [{}, {}]
                    this.user = data;
                }),
                
                this.info = [];
                
                axios.get('https://user-259905.appspot.com/alluser')
                .then((response) => {
                    const data = response.data; // [{}, {}]
                    this.info = data;
                })
                .catch(error => {
                    console.log(error)
                    this.errored = true
                })
                .finally(() => this.loading = false)
            },
            
     
            methods: {
                
                
                
                addHotel() {
                    this.u_id.push(this.user.id)
                    this.tel = this.user.tel
                    this.email.push(this.user.email)
                    axios.post('https://hotelservice.appspot.com/createhotel', {
                        
                        hotelName: this.hotelName,
                        country: this.country,
                        provinceState: this.provinceState,
                        district: this.district,
                        street: this.street,
                        hotelImages: [],
                        additionalDetail: this.additionalDetail,
                        availible: true,
                        tel: this.tel,
                        email: this.email,
                        users_id: this.u_id,    
                        
                        
                        
                    })
                    .then((response) => {
                        const data = response.data;
                        
                    });
                }
            }
        })
        
        
        
        
    </script>
    
    
</body>
</html>