<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="css/index_css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    
    
    
    <script src="https://kit.fontawesome.com/599456d19b.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    
    
    <title>HOTEL</title>
</head>
<body>
    <div id="app">     
        {{ info.hotelName }}
        <section v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>
        
        <section v-else>
            <div v-if="loading">Loading...</div>
            
            
            
        </section>
        
        <div class="bg">
            
            <div class="overlay"></div>
            
            <nav class="navbar navbar-toggleable-md shadow-lg mb-5">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="m-4" href="#" style="color:orange; font-size: 2em;">HOTELVENDER</a>
                
                <div class="collapse navbar-collapse p-1" id="navbarTogglerDemo02">
                    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="manageHotel.html">Manage Hotel</a>
                        </li>
                        
                        
                        
                    </ul>
                    <div class="mr-auto"></div>
                    
                    
                    
                    <form class="form-inline my-2 my-lg-0">
                        
                        <a href="login.html"><button class="btn btn-outline-warning my-2 my-sm-0 mr-2" type="button">login</button></a>
                        
                        
                        <span v-if="token">
                            
                            <div class="dropdown">
                                <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span style="color: black;">{{ user.firstName }}</span><i  style="color: black;" class="ml-2 fas fa-user-circle"></i> 
                                </a>
                                
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="profile.html">Profile</a>
                                    <a class="dropdown-item" href="register.html">Resgister</a>
                                    <a class="dropdown-item" href="#" @click="logout()">Logout</a>
                                </div>
                            </div>
                            
                        </span>
                        
                        
                    </form>
                </div>
            </nav>
            
            <div class="container-fluid" id="banner">
                
                
                <div class="container" id="content">
                    <h1 id="back"  class="text-center text-shadow" style="color: aliceblue;">Find Hotel</h1>
                    
                    <div class="container text-center">
                        <div class="search-box-wrapper mt-5">
                            <input type="text" placeholder="Search..." class="search-box-input shadow" v-model="searchText">
                            <button class="search-box-button shadow">
                                
                                <span style="color: Mediumslateblue;">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                            
                            <!-- <div class="dropdown ml-2 p-1">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-list"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">Action</button>
                                    <button class="dropdown-item" type="button">Another action</button>
                                    <button class="dropdown-item" type="button">Something else here</button>
                                </div>
                            </div> -->
                            
                        </div>
                        <!--                     
                            
                            // date input
                            <div class="row ml-2 mt-2">
                                
                                <input type="date" value="2017-01-01" min="2005-01-01" max="2019-01-01" class="mr-2">
                                <input class="mr-2"/>
                                <input class="mr-2"/>
                                <input class="mr-2"/>
                                
                                
                                <input type="date" value="2017-01-01" min="2005-01-01" max="2019-01-01">   
                            </div> -->
                            
                            
                            <div class="row justify-content-center">
                                
                                <a href="#hotel"><button class="btn mt-5 shadow text-shadow" id="myBtn" onclick="" title="Go to top" 
                                    style="border-radius: 100px; background: orange; color: white;
                                    padding: .75rem 2.5rem .75rem 2.5rem;
                                    font-size: 1.2em;
                                    ">search</button></a>
                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>    
                    
                </div>
                
                
                <!-- hotelName : "EarthHotel",
                    country : "Thailand",
                    provinceState : "Bangkok",
                    district : "Ratchathewi",
                    street : "Payathai Rd",
                    users_id : [1, 19, 10],
                    additionalDetail : "Something like that",
                    availible : true,
                    tel : ["0910349301", "0812711778", "0818951414"],
                    email : ["Rawitgun@facebook.com", "Rawitgun@gmail.com"]
                    
                -->
                <div id="hotel"></div>
                <div class="col a" v-for="hotel in hotelSearchResult">
                    
                    
                    <a href="room.html" @click="persist(hotel.hotelId)">   
                        <div class="card flex-row flex-wrap shadow ml-auto mr-auto m-5" style="width: 50%;" id="hotelCard">
                            <div class="card border-0" style="width: 18em;">
                                <img src="img/room1.jpg" alt="" style="width: 100%;" class="m-0 p-0">
                            </div>
                            <div class="col m-4">
                                <h4 class="card-title mb-1"> {{ hotel.hotelName }}</h4>
                                <i class="fas fa-map-marker-alt"></i> <small>{{ hotel.provinceState}}, {{ hotel.district }}</small> <br>
                                <small> {{ hotel.additionalDetail }}  </small>  <br>
                                <small> contact : <span v-for="number in hotel.tel">{{ number }}, </span>  </small>  
                                
                            </div>
                            
                            <div class="w-100"></div>
                            
                        </div>
                    </a>
                    
                </div>
                
                <div v-if="!hotelSearchResult.length" class="text-center">
                    
                    <h1 style="color: red; padding: 10em;">SORRY! HOTEL NOT FOUND
                        
                    </h1>
                    
                </div>
                
                
            </div>
        </div>
        
        
        <script>
            
            
            
            Vue.component('button-counter', {
                data: function () {
                    return {
                        count: 0
                    }
                },
                template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
            })
            
            new Vue({
                el: '#app',
                data () {
                    return {
                        info: [], // json hotel ที่ get มา
                        loading: true,
                        errored: false,
                        message : 'hello',
                        searchText: "", // ข้อความในกล่องค้นหา
                        name: '',
                        link: '',
                        user: '',
                        token: '',
                        
                    }
                },
                
                computed: {
                    hotelSearchResult() { // function search
                        return this.info.filter(hotel => {
                            let searchText = this.searchText.toLowerCase()
                            let isMatchTitle = hotel.hotelName.toLowerCase().includes(searchText)
                            let isMatchContent = hotel.hotelName.toLowerCase().includes(searchText)
                            return isMatchTitle | isMatchContent 
                        })
                    }
                },
                
                mounted () {
                    
                    
                    if (localStorage.token) {
                        this.token = localStorage.token;
                    }
                    
                    
                    if (localStorage.link) {
                        this.link = localStorage.link;
                    }
                    
                    
                    
                    this.info = [];
                    
                    
                    axios.get('https://user-259905.appspot.com/user/me',
                    {
                        headers: {
                            Authorization: localStorage.token
                        }
                    })
                    .then((response) => {
                        const data = response.data; // [{}, {}]
                        this.user = data;
                    }),
                    
                    
                    axios.get('https://hotelservice.appspot.com/allhotel')
                    .then((response) => {
                        const data = response.data; // [{}, {}]
                        this.info = data;
                    })
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
                    
                    
                    
                },
                
                watch: {
                    name(newName) {
                        localStorage.name = newName;
                    }
                },
                methods: {
                    
                    logout() {
                        axios.post('https://user-259905.appspot.com/logout', 
                        {
                            
                            
                        }, {headers: {
                            Authorization: localStorage.token
                        }})
                        .then((response) => {
                            const data = response.data;
                            this.user = data
                            this.token = ''
                            localStorage.token  = ''
                            
                        });
                    },
                    
                    persist(id) {
                        this.link = id
                        localStorage.link = this.link;
                        console.log('now pretend I did more stuff...');
                    },
                    
                    addUser() {
                        axios.post('https://hotelservice.appspot.com/createhotel', {
                            
                            hotelName : "EarthHotel",
                            country : "Thailand",
                            provinceState : "Bangkok",
                            district : "Ratchathewi",
                            street : "Payathai Rd",
                            users_id : [1, 19, 10],
                            additionalDetail : "Something like that",
                            availible : true,
                            tel : ["0910349301", "0812711778", "0818951414"],
                            email : ["Rawitgun@facebook.com", "Rawitgun@gmail.com"]
                            
                            
                        })
                        .then((response) => {
                            const data = response.data;
                            this.info.push(data);
                            
                        });
                        
                        
                    }
                }
            })
            
            
            
            
        </script>
        
        
    </body>
    </html>