<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="css/reserve_css.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    
    
    <title>HOTEL</title>
</head>
<body>
    <div id="app"> 
        
        <!-- test VUE can run -->
        <!-- {{ message }} -->
        
        
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">HOTELVENDER</a>
            
            <div class="collapse navbar-collapse p-1" id="navbarTogglerDemo02">
                <!-- <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul> -->
                <div class="mr-auto"></div>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">login</button>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">register</button>
                    
                </form>
            </div>
        </nav>
        
        
        
        <div class="container">
            
            <!-- <h2>Hotel Booking</h2> -->
            <div class="card p-5 mt-5 shadow border-left-warning">
                <div class="row ml-2 mt-4 text-right" id="headTable">
                    <div class="col">                    
                        <h6 class="font-weight-bold text-left">ชื่อห้องพัก...</h6>
                        <hr>
                        <img src="img/room1.jpg" class="w-100 shadow"> 
                        
                    </div>
                    
                    
                    <div class="col-2" id="chRoom">
                        <h6 class="font-weight-bold">เลือกจำนวนห้อง</h6>
                        
                    </h1>
                    <hr>
                    
                    <select placeholder="select" class="form-control" id="chooseRoom">
                        <option v-for="value in room" :value="value">
                            3000
                            
                        </option>
                        
                    </select>
                    
                    
                    <div class="col font-weight-bold text-right mt-3">
                        10 ห้อง
                        
                    </div>
                    
                </div>
                
                <div class="col">
                    
                    <h6 class="font-weight-bold">วันที่เข้าพัก</h6>
                    <hr>
                    <div class="row">
                        <div class="col">
                            เริ่ม
                        </div>
                        <div class="col-9">
                            <input v-model="date_start" type="date" id="start" name="trip-start" class="form-control mb-3">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            สิ้นสุด
                        </div>
                        <div class="col-9">
                            <input v-model="date_end" type="date" id="start" name="trip-end" class="form-control">
                            
                        </div>
                    </div>
                    
                    
                    <div class="col font-weight-bold text-right mt-3">
                        ถึง
                        
                        
                    </div>
                    
                </div>
                
                <div class="col-3">
                    <h6 class="font-weight-bold">ชำระเงิน</h6>
                    <hr>
                    <div class="text-right">
                        <p class="m-0 text-right" style="font-size: 0.8em;">ราคาทั้งหมด</p>
                        <b  style="color: rgb(255, 145, 0); font-size: 1.3em;">
                            THB3000฿
                        </br><br>
                        <button type="button" class="btn " style="background-color: orange; position: relative; top: 50px; border-radius: 25px;">
                            <h5 style="color: white;" class="text-shadow mt-2">Book Now!</h5>
                        </button>
                        
                    </div>
                    
                    
                    
                </div>
                
                
            </div>
            
            
            
        </div>
    </div>
</div> 

</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>


<script>
    new Vue({
        el: '#app',
        data () {
            return {
                info: '', // json hotel ที่ get มา
                loading: true,
                errored: false,
                message : 'hello',
                searchText: "", // ข้อความในกล่องค้นหา
                link : '',
                username: '',
                password: '',
                token: '',
                
            }
        },
        
        computed: {
            hotelSearchResult() { // function search
                return this.info.filter(hotel => {
                    let searchText = this.searchText.toLowerCase()
                    let isMatchTitle = hotel.hotelName.toLowerCase().includes(searchText)
                    let isMatchContent = hotel.hotelName.toLowerCase().includes(searchText)
                    return isMatchTitle | isMatchContent 
                })
            }
        },
        
        mounted () {
            
            
            
            if (localStorage.link) {
                this.link = localStorage.link;
            }
            
            if (localStorage.token) {
                this.token = localStorage.token;
            }
            
            this.info = [];
            
            
            axios.get('https://user-259905.appspot.com/user/me', {
            })
            .then((response) => {
                const data = response.data; // [{}, {}]
                this.info = data;
                
            })
            .catch(error => {
                console.log(error)
                this.errored = true
            })
            .finally(() => this.loading = false)
        },
        
        methods: {
            getToken() {
            },
            addUser(i) {
                
                localStorage.token = i;  
                
                axios.post('https://user-259905.appspot.com/login', {
                    
                    username: this.username,
                    password: this.password
                    
                    
                })
                .then((response) => {
                    const data = response.data;
                    this.info.push(data);
                    
                    
                    
                });
            }
        }
    })
    
</script>
<script src="https://kit.fontawesome.com/599456d19b.js" crossorigin="anonymous"></script>

</body>
</html>


